.content{
   font-size: 16px;
   padding: 15px;
   display: flex;
   margin: 10px 15px;
   line-height: 16px;
   list-style: none;
   text-decoration: none;
}

.popup_backdrop{     
   position: fixed;
   top: 0;
   left: 0;
   z-index: 15;
   width: 100vw;
   height: 100vh;
   background-color: #000;
   opacity: 0.5;
}

.add_popup_wrapper{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 450px;
   height: 350px;
   border-radius: 5px;
   z-index: 16;
   @media (prefers-color-scheme: dark) {
      background-color: #444;
      color: #fff;
   }
   @media (prefers-color-scheme: light) {
      background-color: #fff;
      color: #333;
   }
   .popup_header{      
      padding: 10px 20px;
      @media (prefers-color-scheme: dark) {
         border-bottom: 1px solid #5a5a5a;
      }
      @media (prefers-color-scheme: light) {
         border: 1px solid #eee;
      }
      h4{
         display: flex;
         justify-content: space-between;
         margin: 0;
         span{
            font-style: normal;
         }
         i{
            cursor: pointer;
            font-style: normal;
            height: 20px;
            width: 20px;
            line-height: 20px;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            background-color: #ccc;
            border-radius: 50%;
         }
      }
   }
   .popup_content{
      padding: 10px 20px;
   }
}
