.error_wrapper{
    display: flex;
    height: calc(100vh - 100px);
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 100%;
    .error_title{
        color: var(--primary-color);
        display:block;
        h3{
            font-size: 18px;
            text-decoration: none;    
        }
    }
    .error_msg{
        font-size: 16px;
        list-style: none;
    }
    .close_btn{
        display: blobk;
        padding: 10px;
        border: 1px solid #ccc;
    }
}
