.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  .wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .action_bar{
    padding: 10px;
    height: calc(100vh - 65px);
    @media (prefers-color-scheme: dark) {
      background-color: #434343;
      color: #fff;
    }
    @media (prefers-color-scheme: light) {
      background-color: #f0f3ff;
      color: #333;
    }    
  }

  .card_title{
    margin: 0 0 8px 0;
    font-size: 13px;
  }
  .add_investment_card{
    padding: 10px;
    background-color: #535353;
    border-radius: 5px;
  }