<div class="asset_card">    
    <div class="asset_list">
       <h5 class="card_title">Assets and Investments</h5>
       <div class="asset_list_item">
           <div class="asset_name">
               <i class="asset_icon"></i>
               <span>Fixed Depo</span>
           </div>
           <div class="asset_value">
               <span>1 L</span>
           </div>
       </div>
       <div class="asset_list_item">
           <div class="asset_name">
               <i class="asset_icon"></i>
               <span>Savings</span>
            </div>
            <div class="asset_value">
               <span>60K</span>
            </div>
       </div>
       <div class="asset_list_item">
           <div class="asset_name">
               <i class="asset_icon"></i>
               <span>Equity</span>
           </div>
           <div class="asset_value">
               <span>2.2 L</span>
           </div>
        </div>
        <div class="asset_list_item">
            <div class="asset_name">
                <i class="asset_icon"></i>
                <span>Mutual Fund</span>
            </div>
            <div class="asset_value">
                <span>70 K</span>
            </div>
        </div>
        <div class="asset_list_item">
            <div class="asset_name">
                <i class="asset_icon"></i>
                <span>PF</span>
            </div>
            <div class="asset_value">
                <span>4 L</span>
            </div>
         </div>
        <div class="asset_list_item">
            <div class="asset_name">
                <i class="asset_icon"></i>
                <span>NPS</span>
            </div>
            <div class="asset_value">
                <span>25 K</span>
            </div>
         </div>
    </div>
</div>
