.asset_card {
    all: unset;
    border-radius: 4px;
    
    @media (prefers-color-scheme: dark) {
        border: 1px solid #3a3a3a;
        background-color: #444;
        color: white;
    }
    @media (prefers-color-scheme: light) {
        border: 1px solid #eee;
        background-color: #fff;
        color: #333;
    }
    width: 400px;
    margin: 0 8px 16px;
    padding: 8px 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}
// .asset_card:not(.highlight-card):hover {
//     transform: translateY(-3px);
//     box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
// }
.card_title{
    margin: 0 0 8px 0;
    font-size: 13px;
}
.asset_list{    
    width: 100%;
    .asset_list_item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px 10px;
        background-color: #535353;
        border-radius: 4px;
        @media (prefers-color-scheme: dark) {
            background-color: #535353;
            color: white;
        }
        @media (prefers-color-scheme: light) {
            background-color: #fff;            
            color: #333;
        }
        cursor: pointer;
        &:hover {
            transform: translateY(-1px);
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        }
        cursor: hover;
        .asset_name{            
            .asset_icon{
                width: 10px;
                height: 10px;
                display: inline-block;
                border-radius: 2px;
                margin-right: 5px;
                background-color: #4cbbf2;
            }
            span{
                margin-left: 5px;
            }
        }
        .asset_value{
            span{
                font-weight: bold;
            }
        }
    }
}