.wrapper{
   padding: 10px;
}


.input_group{
   margin: 0px 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4px;
   &.btn_grp{
      justify-content: end;
   }
   .form_label{
      font-size: 14px;
      // font-weight: 500;
      width: 45%;
   }
   .form_control{
      width: 55%;
   }
   .submit_btn{
      background-color: #4762E6;
      color: #fff;
      padding: 10px 15px;
      border-radius: 3px;
      border: 1px solid #434343;
      // margin-right: 10px;
      width: 75px;
      cursor: pointer;
      transition: 0.255s ease-in;
      &:hover{
         background-color: #4b66ef;
      }
      &:disabled{
         cursor: default;
         background-color: #dde3ff;
         color: #999;
         border: 1px solid #dde3ff;
      }
   }
   .cancel_btn{
      background-color: transparent;
      color: #333;
      padding: 10px 15px;
      border-radius: 3px;
      border: 1px solid #aaa;
      width: 80px;
      cursor: pointer;
      transition: 0.5s ease-in;
   }
}

.recent_invest{
   display: flex;
   justify-content: space-between;
}