<div *ngIf="showPopup">
    <div class="popup_backdrop"></div>
    <div class="add_popup_wrapper">
        <div class="popup_header">
            <h4>
                <span>Add a Transaction</span>
                <i (click)="showPopup = false"> X </i>
            </h4>            
        </div>
        <div class="popup_content">
            <form>
                <div class="input_group">
                    <label for="category" class="form_label">Category Type</label>
                    <input type="email" class="form_control" id="category" placeholder="category">
                </div>
                <div class="input_group">
                    <label for="category" class="form_label">Transaction Name</label>
                    <input type="email" class="form_control" id="category" placeholder="Name">
                </div>
                <div class="input_group">
                    <label for="category" class="form_label">Transaction Date</label>
                    <input type="email" class="form_control" id="category" placeholder="Date">
                </div>
                <div class="input_group">
                    <label for="category" class="form_label">Transaction Amount</label>
                    <input type="email" class="form_control" id="category" placeholder="Amount">
                </div>
                <div class="input_group">
                    <label for="category" class="form_label"></label>
                    <button type="submit" class="submit_btn">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>