/* You can add global styles to this file, and also import other style files */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    font-weight: normal;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #4762E6;
    --accent-color: #4cbbf2;
}
*, *:before, *:after {
    box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
    body { background:  #333; color: white; }
}

@media (prefers-color-scheme: light) {
    body   { background: #fafafa; color:  #555; }    
}

h1,h2,h3,h4,h5,h6 {
    margin: 8px 0;
}
p { margin: 0; list-style: none;}
a{ text-decoration: none;display:inline-block;}
a:hover{ text-decoration: none; }
.spacer {
    flex: 1;
}
ul{ list-style: none; padding: 0; margin: 0;}
li{ list-style: none; padding: 0; text-decoration: none;}
.common_toast{
  margin:0;
  background-color: #333;
}
.toast_title{
   padding: 10px;
   text-decoration: none;
   font-size: 15px;
   font-weight:500;
   display: block;
}
.toast_content{
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  .toast_link{
     color: #ff00;
     text-decoration: none;
     font-size: 16px;
     display: inline-block;
     font-weight: italic;
     transition: all 0.5s ease-in-out;
     line-height: 16px;
  }
}
//color1: #5692c8

.user_icon{
  height:30px;
  width:30px;
  padding:10px;
  margiin: 5px; 
  border-radius: 50%;
  border: 1px solid #ccc;
  text-align: center; 
  transition: all 0.3s ease-in;
}

.input_group{
    .form_control{
        color: #fff;
        border: 1px solid #999;
        border-radius: 3px;
        padding: 7px 10px;
        background-color: transparent;
        @media (prefers-color-scheme: dark) {
            color: #fff;
        }
        @media (prefers-color-scheme: light) {            
            color: #333;
        }
        &:focus{
            outline: none;
            border:1px solid #aaa;
        }
    }
    .select_box{
        option{
            padding: 5px 10px;
            background-color: transparent;
            color: #fff;
            @media (prefers-color-scheme: dark) {
                color: #fff;
            }
            @media (prefers-color-scheme: light) {            
                color: #333;
            }
        }
    }
    input[type=text]{
        background-color: transparent;
    }
    input[type=date]{
        background-color: transparent;
    }
}
