<div class="asset_card">    
    <div class="asset_list">
       <h5 class="card_title">Loans and EMI</h5>
       <div class="asset_list_item">
           <div class="loan_type">
               
               <div class="loan_dets">
                <span class="loan_icon">
                    <!-- <i class="gg-hmoe "></i> -->
                    <img src="assets/images/icons/home-96.png">
                </span>
                <span class="loan_name">
                    <h5>Home Loan</h5>
                    <span>ICICI HFC</span>
                </span>
               </div>
               <div class="loan_payment_dets">
                <span class="emi_amount">23345</span>
                <span clas="due_date">05/11/2022</span>
               </div>
           </div>           
       </div>
       <div class="asset_list_item">
        <div class="loan_type">
            <div class="loan_dets">
                <span class="loan_icon">
                <!-- <i class="gg-hmoe "></i> -->
                <img src="assets/images/icons/bank-cards-96.png">             
                </span> 
                <span class="loan_name">          
                    <h5>Credit Card</h5>
                    <span>HDFC Bank</span>
                </span>
            </div>
            <div class="loan_payment_dets">
                <span class="emi_amount">1400</span>
                <span clas="due_date">10/11/2022</span>
            </div>
        </div>        
       </div>
       <div class="asset_list_item">
           <div class="asset_name">
               <i class="asset_icon"></i>
               <span>Equity</span>
           </div>
           <div class="asset_value">
               <span>2.2 L</span>
           </div>
        </div>
        <div class="asset_list_item">
            <div class="asset_name">
                <i class="asset_icon"></i>
                <span>Mutual Fund</span>
            </div>
            <div class="asset_value">
                <span>70 K</span>
            </div>
        </div>
        <div class="asset_list_item">
            <div class="asset_name">
                <i class="asset_icon"></i>
                <span>PF</span>
            </div>
            <div class="asset_value">
                <span>4 L</span>
            </div>
         </div>
        <div class="asset_list_item">
            <div class="asset_name">
                <i class="asset_icon"></i>
                <span>NPS</span>
            </div>
            <div class="asset_value">
                <span>25 K</span>
            </div>
         </div>
    </div>
</div>
